@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --royal-blue: #4169e1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-600: var(--royal-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}
